GE_SYNC_INTERVAL=10s
GE_PLUGIN_SLUG=tbz-baumkataster

GE_HOST_PATH=http://localhost:3000
GE_PLUGIN_PATH=http://localhost:6123
GE_CLIENT_ID=tbz-baumkataster-plugin
GE_CLIENT_SECRET=<secret>
GE_DB_URL=<secret>
